@using Microsoft.AspNetCore.Components.Forms
@using TimeUtil.Components.EventsTable
@using TimeUtil.Shared
@using TimeUtil.Shared.Interfaces
@using TimeUtil.Components.TimeUntilCalculator

@inject ISnackbar Snackbar
@inject IOutlookCalendarCSVParseService Parser

@implements IDisposable

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-3">
            @if (cal is null)
            {
                <InputForm OnSubmit="@HandleSubmit" />
            }
            else
            {
                <StyledText HtmlTag="p" Typo="Typo.subtitle1">
                    File: <strong>@_file!.Name</strong> is currently being displayed
                    <MudButton Variant="Variant.Filled"
                           Color="Color.Info"
                           StartIcon="@Icons.Filled.RestartAlt"
                           Class="ml-2"
                           Size="Size.Small"
                           OnClick="Reset">
                        Reset
                    </MudButton>
                </StyledText>
            }
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        @if (processing)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
        else if (cal is not null)
        {
            <MudStack Spacing="6">
                <MudPaper Class="pa-3">
                    <TimeUntilCalculatorView Calendar="cal" />
                </MudPaper>
                <div>
                    <DataOutputView Calendar="@cal" />
                </div>
            </MudStack>
        }
    </MudItem>
</MudGrid>

@code {
    private OutlookCalendar? cal;
    private bool processing;
    private IBrowserFile? _file;

    private async Task HandleSubmit(InputFormSubmitArgs input)
    {
        if (_file != input.File)
        {
            try
            {
                _file = input.File;
                processing = true;
                await using Stream stream = input.File.OpenReadStream(input.File.Size);
                using StreamContent streamContent = new(stream);
                cal = await Parser.ParseOutlookCalendar(await streamContent.ReadAsStreamAsync());
                cal.OnUpdated += OnCalendarUpdated;
            }
            catch (Exception e)
            {
                Console.WriteLine($"{e.GetType().Name} message: {e.Message}");
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
                Snackbar.Add($"There was an error when processing the CSV file. Please try a differnt file {e.GetType().Name} message: {e.Message}", Severity.Error);
                Reset();
            }
            finally
            {
                processing = false;
            }
        }
    }

    private void OnCalendarUpdated()
    {
        _ = InvokeAsync(StateHasChanged); 
    }

    private void Reset()
    {
        CleanCalendar();
        _file = null;
    }

    private void CleanCalendar()
    {
        if (cal is not null)
        {
            cal.OnUpdated -= OnCalendarUpdated;
            cal.Dispose();
            cal = null;
        }
    }

    public void Dispose()
    {
        CleanCalendar();
    }
}